<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WongPong.Defualt" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WongPong.Defualt>
            <setting name="_W" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="_H" serializeAs="String">
                <value>650</value>
            </setting>
            <setting name="UsingKinect" serializeAs="String">
                <value>False</value>
            </setting>
        </WongPong.Defualt>
    </userSettings>
</configuration>